.nav-link {
  margin-left: 50px;
}




.navbar {
  padding: 10px 20px;
}

.navbar-logo h1 {
  color: orange;
}

.sub-logo {
  color: rgb(91, 154, 222);
}

.custom-icon {
  font-size: 26px;
  color: orange;
  margin-right: 8px;
  vertical-align: middle;
}



.btn {
  display: flex;
  align-items: center;
  position: relative;
}

