.featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .featured-items {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s; 
    position: relative;  
  }
  
  .featured-items:hover {
    transform: scale(1.05);
  }
  
  .featured-items img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  .featured-item-title {
    padding: 8px;
    font-weight: bold;
    color: green;
    font-size: 25px;
    font-weight: 500;
  }

  .img-content {
    position: absolute;
    margin-top: -150px;
    margin-left: 100px;
  }
  
  .img-content h3 {
    color: white;
    font-size: 30px;
    animation: fadeIn 5s;
  }
  
  /* For smaller screen sizes */
  @media (max-width: 768px) {
    .img-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0; 
      margin-left: 0;
      text-align: center; 
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 